<a href="https://colab.research.google.com/github/mohmaed7777/GameStop-Historical-Stock-Prices/blob/main/GameStop_Historical_Stock_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Description:**


**GameStop Corp**: is an American video game, consumer electronics, and gaming merchandise retailer. GameStop's stocks have spiked in recent days since the Reddit group blew up the stock price. Now GameStop is up more than 1,700% since the start of January. so it is interesting to try to predict the stock prices in the next months and see how prediction and time series models will perform in this case. This Dataset is a daily historical stock price of GameStop from February 2002 (the year it was listed) to January 2021.

**Content:**

The dataset contains:

**Date:**
The date of trading

**Open_price:**
The opening price of the stock

**High_price:**
The high price of that day

**Low_price:**
The low price of that day

**Close_price:**
The closed price of that day

**Volume:**
The amount of stocks traded during that day

**Adjclose_price:**
The stock's closing price has been amended to include any distributions/corporate actions that occur before the next days open.

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline 
sns.set()
%pylab inline 
%config InlineBackend.figure_formats=['retina']
import sklearn 
print('Setup complete^____^')

Populating the interactive namespace from numpy and matplotlib
Setup complete^____^

In [4]:
game_stoke = pd.read_csv('/content/GME_stock.csv')
game_stoke.head()

         date  open_price  high_price  ...  close_price       volume  adjclose_price
0  2021-01-28  265.000000  483.000000  ...   193.600006   58815800.0      193.600006
1  2021-01-27  354.829987  380.000000  ...   347.510010   93396700.0      347.510010
2  2021-01-26   88.559998  150.000000  ...   147.979996  178588000.0      147.979996
3  2021-01-25   96.730003  159.179993  ...    76.790001  177874000.0       76.790001
4  2021-01-22   42.590000   76.760002  ...    65.010002  196784300.0       65.010002

[5 rows x 7 columns]

In [5]:
game_stoke.shape

(4773, 7)

In [8]:
game_stoke['date'].dtypes

dtype('O')